src/main/mule/mule-calculator-s-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    
    <flow name="mule-calculator-s-api-main" doc:id="006c4590-bdc6-4dbb-a058-e430c371cb5c">
        <http:listener config-ref="mule-calculator-s-api-httpListenerConfig" path="${listener.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mule-calculator-s-api-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="mule-calculator-s-api-console">
        <http:listener config-ref="mule-calculator-s-api-httpListenerConfig" path="${console.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mule-calculator-s-api-config" />
		<error-handler ref="error-handler" />
    </flow>
    <flow name="post:\mathCalculator:application\xml:mule-calculator-s-api-config" doc:id="dc356a3f-6f80-4452-8c33-9d9ff365fae3">
        <ee:transform doc:name="intializing the variable to log" doc:id="22983eee-70bc-478f-9e37-c30e0b12d1d7">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="inputPayload"><![CDATA[%dw 2.0
output application/json
---
{
    "businessProcessName": app.name,
    "flowName": flow.name,
    "source": "",
    "target": "calculator soap api",
    "message": "Received data from papi",
    "businessObject": payload
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="request-received" doc:id="6debc4b9-9e04-4ef1-8d55-1a451a1b2ef7" name="mile-log:request-received" />
		<flow-ref doc:name="calling mule-calculator imp flow" doc:id="880e1354-56d7-46c9-9a8e-df7aceffca0e" name="mule-calculator-s-api-impFlow"/>
		<error-handler ref="error-handler" />
    </flow>
</mule>
